@using GateEntryExit_MVC.Models.Sensor
@using GateEntryExit_MVC.Models.Shared

@model SensorWithDetailsCrudWithList

@{
    var totalItems = Model.SensorWithDetailsOutput.TotalCount;
    var items = Model.SensorWithDetailsOutput.Items;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <h3 class="d-inline-block">Sensor with Details</h3>
                <div class="float-end">
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("EmailReport", "Sensor", null, Context.Request.Scheme)'">Email</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("PdfReport", "Sensor", null, Context.Request.Scheme)'">Pdf</button>
                </div>               
            </div>

            <input type="hidden" asp-for="SensorWithDetailsInput.GateIds" id="selectedGateValues" />
            <form asp-controller="Sensor" asp-action="GetAllWithDetails">
                <button type="submit" class="btn btn-primary float-end" 
                onclick="showGateModal(event, '@Url.Action("FetchGates", "GateModal", new { pageNumber = 1 , isSingleSelection = false }, Context.Request.Scheme)','All gates', false)">Gates</button>
                @await Html.PartialAsync("~/Views/Shared/PartialViews/GateModalPartialView.cshtml")
            </form>           

            <div id="selectedGateNames"></div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Sensor name
                        </th>
                        <th>
                            Gate name
                        </th>
                        <th>
                            Entry count
                        </th>
                        <th>
                            Exit count
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sensor in items)
                    {
                        <tr>
                            <td>@sensor.Name</td>
                            <td>@sensor.GateDetails.Name</td>
                            <td>@sensor.GateDetails.EntryCount</td>
                            <td>@sensor.GateDetails.ExitCount</td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pagination", new PaginationModel(){
               Controller = "Sensor",
               Action = "GetAllWithDetails",
               TotalItems = totalItems
            })
        </div>
    </div>
</div>
   
