@using GateEntryExit_MVC.Models.Sensor
@using GateEntryExit_MVC.Models.Shared

@model GetAllSensorWithDetailsOutputDto

@{
    var totalItems = Model.TotalCount;
    var items = Model.Items;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <h3 class="d-inline-block">Sensor with Details</h3>
                <div class="float-end">
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("EmailReport", "Sensor", null, Context.Request.Scheme)'">Email</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("PdfReport", "Sensor", null, Context.Request.Scheme)'">Pdf</button>
                </div>               
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Sensor name
                        </th>
                        <th>
                            Gate name
                        </th>
                        <th>
                            Entry count
                        </th>
                        <th>
                            Exit count
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sensor in items)
                    {
                        <tr>
                            <td>@sensor.Name</td>
                            <td>@sensor.GateDetails.Name</td>
                            <td>@sensor.GateDetails.EntryCount</td>
                            <td>@sensor.GateDetails.ExitCount</td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pagination", new PaginationModel(){
               Controller = "Sensor",
               Action = "GetAllWithDetails",
               TotalItems = totalItems
            })
        </div>
    </div>
</div>
   
