@using GateEntryExit_MVC.Models.GateExit

@model IEnumerable<GateExitDto>

<div class="container">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary">Create</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>
                            @Html.DisplayNameFor(model => model.GateName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumberOfPeople)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeStamp)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gateExit in Model)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                            <td>@gateExit.GateName</td>
                            <td>@gateExit.NumberOfPeople</td>
                            <td>@gateExit.TimeStamp</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
   
